<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <title>Welcome Page</title>
  </head>
  <h3 class="card-title text-white h4">SHAREPAY</h3>
  <body backgroud="..public/photohomepage.jpg" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
  </body>
</html>
