{% extends "layoutHomepage.njk" %}

{% block content %}

<form action="/" method="post">
  <div class="center">
    <p>{{errorMessage}}</p>
    <label>Email:</label>
    <input type="text" name="username"/><br/>
    <label>Password:</label>
    <input type="password" name="password"/>
    <button type="submit">
      Submit
    </button>
  </div>
</form>

{% endblock content %}
