<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-image: url("/images/homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.center {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 15%;
    background-color: lightgray;
    border: 6px solid gray;
    padding: 60px;
}
</style>
</head>
<body>
<div class="center">login account: mail + password</div>
</body>
</html>
