{% extends "layout.njk" %}

{% block content %}
<BR>
<div class="container text-center text-white" id="page_expense">
  <div class="row text-center justify-content-center align-items-center">
    <div class="col-">
      <button type="button" class="btn btn-outline-light btn-lg mr-auto" onclick="window.location.href='../{{expenses[0].id}}'">Back to Event</button>
    </div>
  </div>
</br>
  <div class="row text-center justify-content-center align-items-center">
    <div class="col text-white">
      <div id="titles_css"><h2>Sum up</h2></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Who</th>
            <th>gives money to</th>
            <th>Who</th>
          </tr>
        </thead>
        <tbody>
          {% for onePayback in paybackObject%}
          <tr>
            <td>{{onePayback.from}}</td>
            <td>{{onePayback.value.toFixed(2)}} €</td>
            <td>{{onePayback.to}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
<BR>
  <div id="titles_css">
    <h2>List of all transactions<h2>
  </div>
  <div class="row text-center justify-content-center align-items-center">
    <div class="col-">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Name of event</th>
            <th>Amount</th>
            <th>Who paid</th>
            <th>Who participate</th>
          </tr>
        </thead>
        <tbody>
          {% for oneTransaction in transactionsToPrint%}
          <tr>
              <td>{{oneTransaction[0]}}</td>
              <td>{{oneTransaction[1] / 100}} €</td>
              <td>{{oneTransaction[2]}}</td>
              <td>
              {% set comma = joiner() %}
              {% for oneNickname in oneTransaction[3] -%}
              {{comma()}} {{oneNickname}}
              {%- endfor %}
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
<BR>
  <div id="titles_css">
    <h2>List of all expenses<h2>
  </div>
  <div class="row text-center justify-content-center align-items-center text-white">
    <div class="col-9 text-white">
      <table class="table table-striped table-sm table-bordered">
        <thead>
          <tr >
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Paid by</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          {% for oneExpense in expenses %}
          {% if oneExpense.description %}
          <tr>
            <td>{{oneExpense.description}}</td>
            <td>{{oneExpense.amount/100}}€</td>
            <td>{{oneExpense.nickname}}</td>
            <td>{{oneExpense.date.toISOString().slice(0,10)}}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
