{% extends "layout.njk" %}

{% block content %}
<div class="container bg text-center mt-5" id="page_sumup">
  <div class="row text-center justify-content-end align-items-center">
    <div class="col text-center">
      <button type="button" class="btn btn-secondary btn-lg mr-auto" onclick="window.location.href='../userevents'">Back to Event</button>
    </div>
  </div>
  <div class="row text-center justify-content-center align-items-center">
    <div class="col">
      <h2>Sum up</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Who</th>
            <th>gives money to</th>
            <th>Who</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Matt</td>
            <td>10</td>
            <td>Julien</td>
          </tr>
          <tr>
            <td>Jiao</td>
            <td>20</td>
            <td>Matt</td>
          </tr>
          <tr>
            <td>Martin</td>
            <td>50</td>
            <td>Julien</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <BR>
    <div class="row text-center justify-content-center align-items-center">
      <div class="col">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col">Paid by</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for oneExpense in expenses %}
            {% if oneExpense.description %}
            <tr>
              <td>{{oneExpense.description}}</td>
              <td>{{oneExpense.amount/100}}€</td>
              <td>{{oneExpense.nickname}}</td>
              <td>{{oneExpense.date}}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
