body {
    background-image: url("/images/homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.event-active {
  background-color: rgba(23, 162, 184, 0.8)!important;
}
.event-active a {
  color: white;
  text-decoration: underline;
}

.event-finished {
  background-color: rgba(108, 117, 125, 0.8)!important;
  text-decoration: line-through;
}
.event-finished a {
  color: black;
  text-decoration: underline;
}

#page_expense {
  background-color: RGBA(0,0,0,0.5);
  color: #ffffff;}


#titles_css {
  color: LightCoral;

}


/* #page_sumup {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;}
} */
